@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 0 0% 20%; /* zinc-700 */

    --card: 240 5% 96%; /* zinc-100 */
    --card-foreground: 0 0% 20%; /* zinc-700 */

    --popover: 240 5% 96%; /* zinc-100 */
    --popover-foreground: 0 0% 20%; /* zinc-700 */

    --primary: 24 94% 50%; /* orange-600 */
    --primary-hover: 24 94% 40%; /* orange-700 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 240 5% 96%; /* zinc-100 */
    --secondary-foreground: 0 0% 20%; /* zinc-700 */

    --muted: 240 5% 96%; /* zinc-100 */
    --muted-foreground: 240 4% 65%; /* zinc-500 */

    --accent: 240 5% 96%; /* zinc-100 */
    --accent-foreground: 0 0% 20%; /* zinc-700 */

    --destructive: 0 84% 60%; /* rosso */
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 240 5% 86%; /* zinc-200 */
    --input: 240 5% 86%; /* zinc-200 */

    --ring: 24 94% 50%; /* orange-600 */
    
    --disabled: 240 4% 74%; /* zinc-300 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}